<div style="margin-left:30px;margin-top:10px">
  <div class="row">
    <div class="col-md-12">
      <h2 style="font-size: 28px;"><b> Embla Burndown Chart</b></h2>
    </div>
  </div>
  <div class="row" style="margin-top:25px">
    <div class="col-md-12">
      <p><i class="fa fa-question-circle-o" style="font-size:20px"></i>
        <font size="4" color="black"> How to read this chart</font>
      </p>
      <p>Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team
        manage its progress and respond accordingly.</p>
    </div>
  </div>