<!-- <div class="row" style=" padding-top: 15px">
  selecting senario  
  <div class="col-md-8" style="margin-left:20px;">
    <div class="col-md-2"> <button type="button" class="btn btn-link" >
        <font size="4" color="Blue" face="Calibri">Senario 1</font>
      </button> </div>
    <div class="col-md-2"> <button type="button" class="btn btn-link" >
        <font size="4" color="Blue" face="Calibri">Senario 2</font>
      </button> </div>
    <div class="col-md-2"> <button type="button" class="btn btn-link">
        <font size="4" color="Blue" face="Calibri">Senario 3</font>
      </button> </div>
  </div>
</div>  -->
<div class="container-fluid">
  <p style=" border-bottom:1px solid LightGrey;padding-top:15px;width: 100%"></p>
</div>
<!-- send data to draw particular graph -->
<app-line-chart *ngIf="showGraph" [dataObject]="dataPoints"></app-line-chart>
